<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ rifa.nome }}</title>
</head>
<body>
    <h1>{{ rifa.nome }}</h1>
    <p>{{ rifa.descricao }}</p>
    <div class="premios-header">
        <span class="emoji">⚡</span> VIPEBOOK <span class="sub">Escolha sua sorte</span>
    </div>

    <h2>Números:</h2>
    <ul>
        {% for numero in numeros %}
            <li>
                Número: {{ numero.numero }} - Status: {{ numero.status }}
            </li>
        {% empty %}
            <li>Nenhum número encontrado.</li>
        {% endfor %}
    </ul>
</body>
</html>
