{% extends 'rifa/base.html' %}

{% block title %}Prêmios{% endblock %}

{% block content %}
  <h2 class="fade-in" data-aos="fade-up">⚡ Prêmios</h2>
  <div class="card-grid">
    {% for rifa in rifas %}
      <a href="{% url 'raffle-detail' rifa.id %}" style="text-decoration:none;color:inherit;">
        <div class="card" data-aos="zoom-in" data-aos-delay="{{ forloop.counter0|add:1 }}00">
          {% if rifa.imagem %}
            <img src="{{ rifa.imagem.url }}" alt="{{ rifa.titulo }}">
          {% endif %}
          <div class="card-content">
            <h3>{{ rifa.titulo|upper }}</h3>
            <p>{{ rifa.descricao }}</p>
            <span class="preco">Por apenas R$ {{ rifa.preco|floatformat:2 }}</span>
          </div>
        </div>
      </a>
    {% empty %}
      <p>Nenhum prêmio cadastrado ainda.</p>
    {% endfor %}
  </div>
{% endblock %}


