<div class="modal fade" id="modalRifa" tabindex="-1" aria-labelledby="modalRifaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRifaLabel">Confirmar Bilhete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body text-center">
        <p>Você selecionou <b><span id="qtdSelecionada">10</span></b> números.</p>
        <p>Valor total: <b>R$ <span id="valorTotal">0,00</span></b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Confirmar</button>
      </div>
    </div>
  </div>
</div>
